body{
  margin: 0px;
  padding: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
}

h1{
  margin: 2em 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
  font-weight: 100;

}

nav{
  width: 100%;
  padding-top: 73px;
  /*margin: 1em auto;*/
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{
  float: left; 
  width: 125px;
  position: relative;

}

ul.dropdown li img{ 
  text-align: center;
}

ul.dropdown li .p{ 
  text-align: center;
  margin-top: 30px;
  /*background: #fff;*/
  padding-top: 4px;
  padding-bottom: 4px;
}

ul.dropdown a:hover{ 
  color: #fff; 
}

ul.dropdown li a { 
  display: block; 
  padding: 0px;
  color: #fff; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 0;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  position: relative;
  color: #fff; 
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000; 
  border: 0px;
}

ul.dropdown ul li { 

  width: 225px; 
  margin-left: -40px;
  font-weight: normal;  
  color: #000; 
  border: 0px;
}

ul.dropdown ul li a{  
  padding-left: 15px;
  padding-bottom: 13px;
  text-align: left;
  display: block; 
  color: #fff !important;
  background: rgba(114, 187, 76, 0.9) !important; 
} 

ul.dropdown ul li a:hover{ 
  text-align: left;
  display: block; 
  color: #fff!important; 
} 

.drop > a{
  position: relative;
}

.drop > a:after{

}

.drop > a:hover:after{

}

.selects{
  height: 74px;
}

#sub_menu2{
   background: url(images/menu_dropdown_training_bg.png) no-repeat;
   background-position: -18px 114px; 
}

#sub_menu3{
   background: url(images/menu_dropdown_peaceparks_bg.png) no-repeat;
   background-position: -18px 114px; 
}

#sub_menu4{
   background: url(images/menu_dropdown_about_bg.png) no-repeat;
   background-position: -18px 114px; 
}

#sub_menu5{
   background: url(images/menu_dropdown_supportus_bg.png) no-repeat;
   background-position: -18px 114px; 
}