@charset "utf-8";
/* CSS Document */

html, body  {
   padding: 0px;
   margin: 0px;
   font-family: Leelawadee UI;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }
.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
/*USON*/

.interior-headerBanner{
	background: url(../images/interior_image_banner.png);
	width: 100%;
	height: 442px;
	background-size: cover;
}
.mini-eco-logo{
	width: 60px;
	background-size: cover;
}


.banner-title {
	font-size:60px;
	font-weight: 100;
	color: #FFF;
	padding-top: 74px;
}
.banner-define {
	font-size:18px;
	color:#FFF;
}

.donate{
    width: 40%; 
    margin: auto;
}
.donate_icon {    
    width: 100%;
    margin: auto;
}

.donate_bgcolor  {
    background-color: #efa945;   
    visibility: visible;
    position: relative;
    margin: auto;  
    width: 100%;
    padding: 15px;
    z-index: 2;
}

.eco-upper-content h1 {
    color: #45413e !important;  
    margin: 0px; 
    padding: 68px 0px 36px 15px;
    text-align: left;
}

.eco-upper-content {
    font-family: Leelawadee UI;
    font-size: 12px; 
    padding: 0px 0px 0px 15px;
    display: block;
    z-index: 2;
}
.eco-thumbnail {
    float: left;
    width: 125px;
    height: 125px;
    padding: 20px 0px 20px 0px;
    
}

.eco-thumbnail img {
    
    width: 125px;
    border-radius: 100%;
}

.eco-p{
    width: 467px;
    font-family: Leelawadee UI;
    font-size: 12px;
    float: left;
    margin: 0px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    z-index: 2;    
}

.eco-p-lower {
    font-family: Leelawadee UI;
    font-size: 12px;
    float: left;
    margin: 0px 0px 0px px;
    padding: 0px 0px 0px 0px;
    z-index: 2;    
}

.eco-p p{
    margin: 0px 0px 12px 0px;
  
}

.h3 {
    padding: 0px 0px 17px 0px;
    margin: 0px;
    text-align: left;
    color:#72bb4c;
    font-size: 26.6px;
}

.eco-p-lower h3 {
    text-align: left;
    color:#72bb4c;
    font-size: 26.6px;
    margin: 0px 0px 0px 0px ;
    padding: 20px 0px 15px 0px; 
}


.boxes {
    padding: 0px 0px 0px 15px; 
    width: 100%;
    float:left;
}
#rightcolumn{
    padding: 0px 0px 0px 0px;
}
#rightcolumnimage img {
    
    width: 300px;
    border-radius: 100%;
}

#rightcolumnimage  {
    padding: 80px 0px 0px 0px;  
    margin: auto !important;
    visibility: visible;
    position: relative;
    z-index: 2;
    text-align: center;
}


#action h1,
#awakening h1 {
    color: #45413e !important;
    padding: 0px 0px 0px 15px;
    text-align: left;
    margin: 0px;
}

#action  {
    font-family: Leelawadee UI;
    font-size: 35px;
    padding: 38px 0px 7px 0px;
    display: block;
    z-index: 2;
}

#awakening  {
    font-family: Leelawadee UI;
    font-size: 35px;
    padding: 0px 0px 0px 0px;
    display: block;
    z-index: 2;
}

#mindbodytrainingimage img,
#mindfulnesstrainingimage img,
#physicaltrainingimage img {
    width: 107px;
    border-radius: 100%;
}

#mindbodytrainingimage,
#mindfulnesstrainingimage,
#physicaltrainingimage  {
    padding: 10px 0px 30px 0px;
    visibility: visible;
    position: relative;
    z-index: 2;
}

#practiceskills h1,
#farming h1,
#volunteering h1,
#mindbodytrainingtext h1,
#mindfullnesstrainingtext h1,
#physicaltrainingtext h1 {
    padding: 0px 0px 17px 0px;
    margin: 0px;
    text-align: left;
}

#practiceskills,
#farming,
#volunteering,
#mindbodytrainingtext,
#mindfullnesstrainingtext,
#physicaltrainingtext  {
    font-family: Leelawadee UI;
    font-size: 12px;    
    padding: 0px 0px 0px 40px;
    display: block;
    z-index: 2;
}


#carousel_bg  {
    background-color: #5386c1; 
    visibility: visible;
    position: relative;
    margin: auto;  
    width: 100%;
    height: 282px;
}

/*END USON*/

/* EFREN POGI*/

.eco-container{
    width: 980px; 
    margin: auto;
}
#ecologo {
    background: url(../images/ecologo.png) center;
    height: 99px;
    text-align: center;
    background-repeat: no-repeat;
    float: left; width: 177px; margin-top: 50px;
}
.ecositenav{
    float:right; min-width: 500px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top: -20px;
}
.ecologo {
    height: 99px;
    width: 100%;
    background-repeat: no-repeat;
}
.whoiseco {
	font-size:62px;
	color: #FFF;
	padding-top: 50px;
}
.whoisecodefine {
	font-size:22.98px;
	color:#FFF;
	width:50%;
}
.headerBanner{
	background: url(../images/bgtop.png) 0px -28px;
	height: 442px;
	background-size: cover;
}

.headerBanner .learn-more {
	padding: 10px 0px 0px 0px;
	float: left;
}

.headerBanner .learn-more img{
	float:left;
}
.headerBanner .learn-more a{
	padding: 10px 0px 0px 0px;
	float: left;
}
.mobileMenu {
    display: none;
}
.mobileMenu nav{
    padding-top: 0px;
    margin: 5px;
}
.header-banner{
	margin: 0px;
	padding: 0px;
}
.navbar-header{
	background-color: #5386c1;	
}
.navbar-brand{
	color: #fff !important;
	font-weight: 30;
	
}
/* EFREN POGI END*/

/*slider*/
/*-----------------------*/
		.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(images/browser-icons.png);
        }
/*-----------------------*/
			/*
            .jssorb01 div           (normal)
            .jssorb01 div:hover     (normal mouseover)
            .jssorb01 .av           (active)
            .jssorb01 .av:hover     (active mouseover)
            .jssorb01 .dn           (mousedown)
            */
            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
                filter: alpha(opacity=70);
                opacity: .7;
                overflow: hidden;
                cursor: pointer;
                border: #000 1px solid;
            }

            .jssorb01 div {
                background-color: gray;
            }

                .jssorb01 div:hover, .jssorb01 .av:hover {
                    background-color: #d3d3d3;
                }

            .jssorb01 .av {
                background-color: #fff;
            }

            .jssorb01 .dn, .jssorb01 .dn:hover {
                background-color: #555555;
            }
/*-----------------------*/
			/* jssor slider arrow navigator skin 02 css */
            /*
            .jssora02l              (normal)
            .jssora02r              (normal)
            .jssora02l:hover        (normal mouseover)
            .jssora02r:hover        (normal mouseover)
            .jssora02ldn            (mousedown)
            .jssora02rdn            (mousedown)
            */
            .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(../images/a02.png) no-repeat;
                overflow:hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px; }
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02ldn { background-position: -243px -33px; }
            .jssora02rdn { background-position: -303px -33px; }			
/*end slider*/
.bluebar {
	background: #5386c1;
	margin-top: -30px;
	width: 100%;
	height: 30px;
	z-index: 999;
}
.orange_bgcolor  {
    background-color: #efa945;   
    visibility: visible;
    margin: auto;  
    width: 100%;
    padding: 15px;
}
.rightbar{
	width:65%; margin: auto; float:left;
	padding-top:20px;
}

.h2title {
	color:#5386c1; 
	font-size:39.5px;
	text-align:left;
	padding-bottom:10px;
}

.eco-col1 {
	float:left; width: 53%; font-size: 12px;
	text-align:left;
}
.eco-col2 {
	float:left; width: 47%; font-size: 12px;
	text-align:left;
	padding-left:40px;
}

.leftbar {
	background-color:#5386c1; height:680px; width:320px; margin: auto; 
	float:right;
	padding: 10px 10px 0px 20px;
	text-align:left;
	color:#FFF;
}
.news-col {
	font-size:12px;
	padding-bottom:20px;
}
.blueline {
	width: 100%;
	background-color: #5386c1;
	height:3px;
}
.innerbody {
	width: 100%; margin: auto;
}
/*3 pix begin*/
.middlebody {
	width: 100%; margin-top:30px;
}
.midconbody {
	float:left;
	width: 326.6px;
}
.imgcircle {
   	-moz-border-radius: 140px;
	-webkit-border-radius: 140px;
	border-radius: 140px;
}
.h4midbody {
	font-size:26.62px; font-family:Leelawadee UI; color:#45413e;
	padding:30px 0px 10px 0px;
	text-align: center;
	padding-right:60px;
}
.midcontent {
	font-size:12px; 
	font-family:Leelawadee UI;
	color:#45413e; 
	text-align:left;
	width: 278px;
}
/*3 pix end*/

.backgroundgreen  {
   background: #72bb4c;
   width: 100%;
   height: 550px;
}
.fetmaincon {
	font-size:60px; font-family:Leelawadee UI; color:#FFF;
}
.featdesc {
	font-size:22px; font-family:Leelawadee UI; color:#FFF;
}
.featslider  {
   visibility: visible;
   width: 1400px;
}
.greenbarko {
	background: #72bb4c;
	padding-top:10px;
	text-align: center;
	height:60px;
	width: 100%;
}
.newsbanner {
	padding-top:50px;	
}
.signupko {
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#5386c1;
	float:left;
}
.inputertxt  {
   padding-left: 25px;
   float:left;
}
.txtbaks {
	height:36px;
	background: #E8E8E8;
	width:472px;
}
.submitbttn  {
   padding-left: 45px;
   width: 36px;
   height: 36px;
   float:left;
}
.submittxt  {
   padding-left: 42px;
   width: 57px;
   height: 14px;
   float:left;
}
.footerer {
	text-align:center;
	padding:50px;

}
.right-linerer {
	width:364px;
	padding-top: 22px;	
	float: right;
}
.left-linerer {
	width:364px;
	padding-top: 22px;	
	float: left;
}
.fb{
	padding: 0px 6px 0px 6px;
	float: left;
}
.twitter{
	padding: 0px 6px 0px 6px;
	float: left;
}
.linked{
	padding: 0px 6px 0px 6px;
	float: left;
}
.hidorange{;
	display:none;
}
.social-div{
	width: 168px;	
	padding: 0px;
}
@media screen and (max-width:1160px) {	
	.leftbar {
		float: left;
		width: 340px;
	}
	.rightbar {		
		width: 60%;
	}
	.imgcircle {
		width:250px;
		height:250px;
	}
	.midconbody {
		width: 280px;
	}
	.midcontent {
		width: 270px;
	}
	.txtbaks {
		width:450px;
	}
}
@media screen and (max-width:1091px) {	
	.txtbaks {
		width:350px;
	}
	.whoiseco {
		font-size:58px;
	}
}
@media screen and (max-width:1079px) {	
	.leftbar {
		float: left;
		width: 340px;
	}
	.rightbar {		
		width: 58%;
	}
}
@media screen and (max-width:1066px) {	
	.imgcircle {
		width:250px;
		height:250px;
	}
	.h4midbody {
		font-size:25px;
	}
	.midconbody {
		width: 260px;
	}
	.midcontent {
		width: 260px;
	}
}
@media screen and (max-width:1050px) {	
	.imgcircle {
		width:235px;
		height:235px;
	}	
	.h4midbody {
		font-size:22px;
	}
	.midconbody {
		width: 240px;
	}
	.midcontent {
		width: 240px;
	}
}
@media screen and (max-width:1028px) {	
	.leftbar {
		float: left;
		width: 330px;
	}
	.rightbar {		
		width: 55%;
	}
}
@media screen and (max-width:966px) {	
	.signupko {
		width:100%;
	}
	.inputertxt  {
	   padding-left: 0px;
	   float:left;
	}
}
@media screen and (max-width:937px) {	
	.eco-col1 {
		float:left; width: 100%; font-size: 13px;
		text-align:left;
	}
	.eco-col2 {
		float:left; width: 100%; font-size: 13px;
		text-align:left;
		padding-left:0px;
	}
	.leftbar {
		width:320px;
	}
	.imgcircle {
		width:200px;
		height:200px;
	}
	.midconbody {
		width: 220px;
	}	
	.h4midbody {
		font-size:18px;
	}
	.midcontent {
		width: 220px;
	}
	.backgroundgreen {
		height: 440px;
	}
}
@media screen and (max-width:933px) {
	.h2title {
		font-size:37px;
	}
}
@media screen and (max-width:925px) {
	.whoiseco {
		font-size:50px;
	}
	.whoisecodefine {
		width:80%;
	}
}
@media screen and (max-width:905px) {
	.rightbar {
		width:55%;
	}
	.leftbar {
		width:300px;
	}
}
@media screen and (max-width:850px) {
	.rightbar {
		width:52%;
	}
	.leftbar {
		width:300px;
	}
}
@media screen and (max-width:841px) {		
	.imgcircle {
		width:180px;
		height:180px;
	}
	.midconbody {
		width: 210px;
	}
	.midcontent {
		width: 210px;
	}	
}
@media screen and (max-width:811px) {
	.eco-container {
		padding:0px 40px 0px 40px;
	}
}
@media screen and (max-width:726px) {
	.midconbody {
		width: 200px;
	}
	.h4midbody {
		font-size:17.6px;
	}
	.midcontent {
		width: 200px;
	}	
}
@media screen and (max-width:721px) {
	.rightbar {
		width:51%;
	}
	.leftbar {
		width:305px;
	}
}
@media screen and (max-width:721px) {
	.rightbar {
		width:48%;
	}
	.leftbar {
		width:300px;
	}
}
@media screen and (max-width:710px) {
	.leftbar {
		width:100%;
	}
	.rightbar {
		padding:20px;
		width:100%;
	}
	.whoiseco {
		width:100%;
	}
	.whoisecodefine {
		width:100%;
	}
	.imgcircle {
		height:275px;
		width:275px;
	}
	.middlebody {
		width: 100%;
		text-align: center;
	}
	.midconbody {
		width:100%;
		padding:20px;
	}
	.h4midbody {
		padding:20px;
		margin: 0px;
		font-size:26.62px;
	}
	.midcontent {
		width:100%;
	}
}
@media screen and (max-width:514px) {
	.h2title {
		font-size:35px;
	}
}
@media screen and (max-width:494px) {
	.h2title {
		font-size:32px;
	}
}
@media screen and (max-width:463px) {
	.h2title {
		font-size:30px;
	}
}
@media screen and (max-width:416px) {
	.header-banner {
		height:500px;
	}
	.hidorange {
		height:50px;
	}
}
@media screen and (max-width:660px) {
	#orangebarko {
		margin:0px;
		padding:0px;
		width:100%;	
	}
}
@media screen and (max-width:380px) {
	.signupko { 
		font-size: 20px;
		text-align: center;
	}
}
@media screen and (max-width:580px) {
		
	.txtbaks {
		width: 100%;
	}
	.submitbttn img{
		width: 100px;		
	}
	.submitbttn{
		width: 100%;
		padding-top: 10px !important;
		margin: auto !important;
		text-align: center !important;
	}
	.signupko { 
		text-align: center;
	}
}
}

@media screen and (max-width:640px) {
	.fetmaincon {
		font-size:60px;
	}
}
@media screen and (max-width:625px) {
	.leftbar {
		width:100%;
	}
	.rightbar {
		width:100%;
	}
}
@media screen and (max-width:615px) {
	.fetmaincon {
		font-size:50px;
	}
	.featdesc {
		font-size:20px;
	}
	.backgroundgreen {
		height:400px;
	}
}
@media screen and (max-width:580px) {
	.inputertxt {
		width:100%;
	}
	.submitbttn {
		padding:0px;
	}
	.submittxt {
		padding-left:10px;
	}
	.whoisecodefine {
		width: 100%;
	}
}
@media screen and (max-width:525px) {
	.fetmaincon {
		font-size:40px;
	}
	.featdesc {
		font-size:18px;
	}
	.backgroundgreen {
		height:320px;
	}
}
@media screen and (max-width:449px) {
	.donbut {
		height:50px;
		width:50px;
	}
	.whoiseco {
		padding:10px;
	}
}
@media screen and (max-width:437px) {
	.backgroundgreen {
		height:310px;
	}
}
@media screen and (max-width:435px) {
	.backgroundgreen {
		height:270px;
	}
	.fetmaincon {
		font-size:30px;
	}
	.featdesc {
		font-size:14px;
	}
}
@media screen and (max-width:410px) {		
	.imgcircle {
		width:220px;
		height:220px;
	}		
}
@media screen and (max-width:330px) {		
	.h2title {
		font-size:18px;
	}
	.eco-col1 {
		font-size:12px;
	}
	.eco-col2 {
		font-size:12px;
	}
}
@media screen and (max-width:360px) {		
	.imgcircle {
		width:180px;
		height:180px;
	}		
}
@media screen and (max-width:399px) {
	.hidorange {
		background: #efa945;
		text-align: center;
		height:25px;
		width: 100%;
		display:block;
	}
}
@media screen and (max-width:394px) {
	.headerBanner {
		height:500px;
	}
}
@media screen and (max-width:381px) {
	.headerBanner {
		height:380px;
	}
	.whoiseco {
		font-size:32px;
	}
	.whoisecodefine {
		font-size:12px;
	}
}

@media screen and (max-width:350px) {
	.backgroundgreen {
		height:240px;
	}
	.fetmaincon {
		font-size:20px;
	}
	.featdesc {
		font-size:12px;
	}
}
@media screen and (max-width:342px) {
	.headerBanner .learn-more {
		padding: 30px 0px 0px 0px;
		float: left;
	}

	.headerBanner .learn-more img{
		float:left;
	}
	.headerBanner .learn-more a{
		padding: 10px 0px 0px 0px;
		float: left;
	}
}
@media screen and (max-width:335px) {
	.h4midbody {
		font-size:20px;
	}
}
@media screen and (max-width:325px) {
	.whoiseco {
		font-size:32px;
	}
	.whoisecodefine {
		font-size:12px;
	}
}
@media screen and (max-width:322px) {
	.headerBanner .learn-more {
		padding: 30px 0px 0px 0px;
		float: left;
	}

	.headerBanner .learn-more img{
		float:left;
	}
	.headerBanner .learn-more a{
		padding: 0px 0px 0px 0px;
		float: left;
	}
}
@media screen and (max-width:299px) {
	.headerBanner {
		height:450px;
	}
}
@media screen and (max-width:276px) {
	.headerBanner {
		height:480px;
	}
}
@media screen and (max-width:263px) {
	.headerBanner {
		height:540px;
	}
}
@media screen and (max-width:209px) {
	.headerBanner {
		height:640px;
	}
}
@media screen and (max-width:247px) {
	.headerBanner {
		height:610px;
	}
	.hidorange {
		height:30px;
	}
}
/* EFREN POGI*/

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 1160px) {

    .eco-container {
        width: 80%
    }


}

@media only screen 
and (max-width : 1030px) {

    .eco-container {
        width: 80%
    }

	ul.dropdown li{
		width: 20%;
	}

}

@media only screen and (max-width: 811px){
    .eco-container {
        width: 100%
    }
    .ecositenav{
        width: 501px;
        float:none;
        margin: auto;
    }
    #ecologo{
        width: 80%;
        height: 99px;
        float:none;
        margin: auto;
		margin-top: 30px;
    }
	
	.banner-define,
	.banner-title {
	padding-left: 30px;
	padding-right: 30px;
	}
	.boxes,
	.eco-upper-content {
	padding-left: 30px;
	padding-right: 30px;
	}
}

@media only screen and (max-width: 530px){
	#ecologo{
		margin-top: 30px !important;
	}
	.bluebar{
        display:none;
    }
	.ecositenav{
        display:none;
    }
    .mobileMenu {
        display: block;
    }
    .headerBanner{
        margin-top: 0px;
    }
}

/* EFREN POGI END*/


/*USON @media*/
@media (max-width: 767px) {
    .eco-upper-content h1 {
        text-align: center;
    }
    #physicaltrainingtext p {
        padding: 30px 30px 30px 30px !important;
    }
    #rightcolumn {
        width: 100% !important;
    }
    #rightcolumnimage {

        /* padding: 0px 0px 0px 0px !important; */
        margin: auto !important;
    }
    
    #awakening h1 {        
        padding: 20px 0px 20px 0px;
        text-align: center;
    }
    #action h1 {        
        padding: 0px 0px 0px 0px;
        text-align: center;
    }

    #mindbodytrainingimage,
    #mindfulnesstrainingimage,
    #physicaltrainingimage  {
        width: 105px;
        height: 105px;
        padding: 10px 0px 30px 0px;        
        margin: auto !important;
    }
    #practiceskills h1,
    #farming h1,
    #volunteering h1,
    #mindbodytrainingtext h1,
    #mindfullnesstrainingtext h1,
    #physicaltrainingtext h1 {
        padding: 10px 0px 0px 0px !important;
        text-align: center;
    }
    #practiceskills p,
    #farming p,
    #volunteering p,
    #mindbodytrainingtext p,
    #mindfullnesstrainingtext p,
    #physicaltrainingtext p{
        padding: 10px 30px 0px 30px !important;
    }
    #facebookicon,
    #twittericon,
    #linkedinicon  {
        margin: 20px 50% 0px 50%;
    }

}
.orangebarko {
	background: #efa945;
	text-align: center;
	padding-top:20px;
	height:85px;
	width: 100%;
}
@media (max-width: 900px) { 
    .donate_icon {    
        width: 247px !important;
        margin: auto;
    }
}
@media (max-width: 380px) {
    #interior_text h1,
    .eco-upper-content h1 {
        text-align: center;
        font-size: 25px;
    }
    .eco-p-lower h3,
    .eco-p h3 {
        font-size: 20px;
    }
    #interior_text h1 {
    font-size: 30px !important;
}
}

@media (max-width: 320px) {
    .title-lower-bottom h1,
    .title-lower h1 {
        text-align: center;
        font-size: 25px;
    }
}
@media (max-width: 1010px) { 
    #container {
        width: 97% !important;
    } 
    #interior-text {
        width: 500px !important;
    }
}

@media (max-width: 800px) { 
    .donate {    
        width: 200px !important;
        margin: auto;
    }
    .eco-p{
        width: 100% !important;
        padding: 20px;
        margin: auto;
        /* padding-left: 3%; */
    }
    .eco-thumbnail {        
        width: 100%;
        margin: auto;
        padding: 0px 100px 0px 100px;
        
    }
    .eco-thumbnail img {        
        width: 125px !important;
        margin: auto !important;
    }

    .boxes h3 {
        text-align: center;
    }
    .title-lower {               
        width: 200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        }
    .title-lower h1 {               
        width: 200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .title-lower-bottom{
                       
        width: 125px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }


}

@media (max-width: 991px) {
    #rightcolumnimage img {    
        width: 273px !important;
        border-radius: 100%;
    }
    #rightcolumnimage img {    
        width: 273px !important;
        border-radius: 100%;
    }
    .eco-thumbnail{
        text-align: center;
    }
    .title-lower {
        margin-top: 20px;
    }.right-linerer{
		width: 100% !important;	
		padding: 0px;
		margin: auto;
		float: none;
		
	}
	.left-linerer {
		width: 100% !important;	
		padding: 0px;
		margin: auto;
		float: none;	
		
	}
	.social-div{
		width: 168px;	
		padding: 0px;
		margin: auto;
	}
}
@media (max-width: 360px) {
    #rightcolumnimage img {    
        width: 220px !important;
        border-radius: 100%;
    }    
    .eco-thumbnail img{        
        width: 100px !important;
        border-radius: 100%;
        
    }
    .eco-thumbnail {        
        width: 100%;
        margin: auto;
        padding: 0px 0px 0px 0px !important;
        

    }
	.banner-title{	
		font-size:50px;
	}

    #rightcolumnimage img {    
        width: 200px !important;
        border-radius: 100%;
    }
}


@media (max-width : 1160px) {
	.right-linerer{
		width: 50px;	
		padding: 0px;
		margin: auto;
		float: none;
		
	}
	.left-linerer {
		width: 50px;	
		padding: 0px;
		margin: auto;
		float: none;	
		
	}
	.social-div{
		width: 168px;	
		padding: 0px;
		margin: auto;
	}
}
/*USON @media end*/